<h3 id="notice"></h3>

<h1>Election Pool 2014</h1>

<p>
Rules: For those unfamiliar with point spreads, for each pick all you need to do is take an "under" or an "over."  So, for example, if you believe Mitch McConnell will beat Allison Lundergan Grimes in Kentucky by more than the 3.5-point spread, take the over.  If you think McConnell will win by less than 3.5 points or that Grimes will win by any margin there, take the under. For every pick made correctly, you get a point. A push or a tie result = half a point for everyone. All final (actual) election results will be rounded to the nearest half-point (0.5), so please take that into account in making picks. The most points at the end wins.
</p>

<p>This website is not very sophisticated. Once you create an account below you will not be able to change your password. If you forget your password, you can email Mark to retrieve it.</p>

<p>
	<label for="email">Email:</label>
	<input type="text" id="email" name="email" />
</p>

<p>
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" />
	WARNING: These passwords will be visible to Mark. Do NOT use a common password!
</p>

<p>
	<input type="button" id="retrieve" value="Retrieve Picks" />
	<input type="button" id="submit" value="Submit Picks" />
</p>

<h2>Govenor Races</h2>

<ul id="governor">
	<% @governor_races.each do |key,race| %>
	    <li>
	        <input type="radio" name="<%= key %>" value="over" />
	        <%= race %>
	        <input type="radio" name="<%= key %>" value="under" />
	    </li>
	<% end %>
</ul>

<h2>Senate Races</h2>

<ul id="senate">
	<% @senate_races.each do |key,race| %>
	    <li>
	        <input type="radio" name="<%= key %>" value="over" />
	        <%= race %>
	        <input type="radio" name="<%= key %>" value="under" />
	    </li>
	<% end %>
</ul>